@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: white;
}

@layer components {
  .ai-chat-scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .ai-chat-scrollbar::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
  }

  .ai-chat-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 3px solid #ebeef0;
  }
}
