@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&family=Darker+Grotesque:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");

@font-face {
  font-family: "Spartan";
  src: url("../../public/Spartan-Bold.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-Brand/Surface/surface-200;
}

.select-input div {
  @apply right-1;
}

.react-datetime-picker {
  @apply border  mt-2 px-2 bg-Brand/Surface/surface-50 rounded-lg border-Brand/Surface/surface-800   w-full h-[50px];
}
.react-datetime-picker .react-datetime-picker__wrapper {
  @apply border-none;
}

@layer components {
  .custom-overflow::-webkit-scrollbar {
    width: 5px;
  }
  .custom-overflow::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
  }

  .custom-overflow::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 3px solid #ebeef0;
  }

  .horizontal-overflow::-webkit-scrollbar {
    width: 2px;
  }

  .horizontal-overflow::-webkit-scrollbar-track {
    background: white;
    border-radius: 0px;
    height: 10px;
  }

  .horizontal-overflow::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 3px solid #ebeef0;
    height: 10px;
  }

  .clipped-Link-text {
    background: #03045e;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .post-content {
    font-feature-settings: "clig" off, "liga" off;
  }

  .post-content p span strong {
    @apply font-bold font-Spartan text-[20px] leading-8;
  }

  input,
  textarea {
    @apply focus-within:outline-none;
  }

  .swiper-pagination-bullet-active {
    background-color: red !important;
  }
}

/* builder icons */
